<!doctype html>
<html>

<body>
    <h2 style="text-align :center;">FEEDBACK FORM</h2>
    
    <form action="http://localhost:5000/contact" method="POST">
        <fieldset>
            <div style="font-size:18px;font-weight: bold; margin-left:150px;">
               <table>
                <tr>
                    <td>Name</td>
                   <td><input type=text name=name></td>
                    </tr>
                    <tr>
                        <td>Date of Birth(dd/mm/yyyy)</td>
                        <td><input type="date" name="dob"></td>
                    </tr>
                   <tr>
                    <td>Year of Passing</td>
                   <td><input type=year name=yop></td>
                    </tr>
                   <tr>
                    <td>Department</td>
                   <td><input type=text name=dept></td>
                    </tr>
                    <tr>
                        <td>
                            Email
                        </td>
                        <td><input type="text" name="email"></td>
                    </tr>
                    <tr>
                       <td>Contact Number</td>
                      <td><input type=text name=number></td>
                       </tr>
                       <tr>
                           <td>Present Organization</td>
                           <td><input type="text" name="prsntorg"></td>
                       </tr>
                       <tr>
                           <td>Designation</td>
                           <td><input type="text" name="desig"></td>
                       </tr>
               </table>
                <br>
                <br>

                <H3>You are requested to give us your feedback on the following statements( Tick ) </H3>
                <br><br>
                <label for="1">1.Do you feel proud to be associated with our institution as Alumini?</label>
                <input type="radio" name = "option1" value="Yes">
                <label for="Yes">Yes</label>  
                <input type="radio" name = "option1" value="No">
                <label for="No">No</label>              
                <br><br>
                <label for="2">2.University organizes various kinds of activities for overall development of students.</label>
                <input type="radio" name = "option2" value="Yes">
                <label for="Yes">Yes</label>  
                <input type="radio" name = "option2" value="No">
                <label for="No">No</label>              
                <br><br>
                <label for="3">3.Are you willing to contribute in the development of the University?</label>
                <input type="radio" name = "option3" value="Yes">
                <label for="Yes">Yes</label>  
                <input type="radio" name = "option3" value="No">
                <label for="No">No</label>              
                <br><br>
                <label for="4">4.Is there any students' grievance cell in the University</label>
                <input type="radio" name = "option4" value="Yes">
                <label for="Yes">Yes</label>  
                <input type="radio" name = "option4" value="No">
                <label for="No">No</label>              
                <br><br>
                <label for="5">5.University is having adequate laboratories and equipments for practical experiences.</label>
                <input type="radio" name = "option5" value="Yes">
                <label for="Yes">Yes</label>  
                <input type="radio" name = "option5" value="No">
                <label for="No">No</label>              
                <br><br>
                <label for="6">6.Is Education imparted at our institution is useful and relevant in your present job?</label>
                <input type="radio" name = "option6" value="Yes">
                <label for="Yes">Yes</label>  
                <input type="radio" name = "option6" value="No">
                <label for="No">No</label>              
                <br><br>
                <label for="7">7.Have you obtained sufficient technical knowledge (both in theory and practical) at our institution?</label>
                <input type="radio" name = "option7" value="Yes">
                <label for="Yes">Yes</label>  
                <input type="radio" name = "option7" value="No">
                <label for="No">No</label>              
                <br><br>
                <label for="8">8.Whether the T&P cell has provided sufficient on campus and off campus placement opportunities?</label>
                <input type="radio" name = "option8" value="Yes">
                <label for="Yes">Yes</label>  
                <input type="radio" name = "option8" value="No">
                <label for="No">No</label>              
                <br><br>
                <label for="9">9.Are you happy with the curriculum content during your stay?</label>
                <input type="radio" name = "option9" value="Yes">
                <label for="Yes">Yes</label>  
                <input type="radio" name = "option9" value="No">
                <label for="No">No</label>              
                <br><br>
                <label for="10">10.Is University providing good Hospitality to Alumni after passing out?</label>
                <input type="radio" name = "option10" value="Yes">
                <label for="Yes">Yes</label>  
                <input type="radio" name = "option10" value="No">
                <label for="No">No</label>              
                <br><br>
                <label for="11">11.Do you receive regular updates from the University through Mails/calls/SMS/etc?</label>
                <input type="radio" name = "option11" value="Yes">
                <label for="Yes">Yes</label>  
                <input type="radio" name = "option11" value="No">
                <label for="No">No</label>              
                <br><br>
                <label for="12">12.Whether student is allowed to participate in the development of curriculum?</label>
                <input type="radio" name = "option12" value="Yes">
                <label for="Yes">Yes</label>  
                <input type="radio" name = "option12" value="No">
                <label for="No">No</label>              
                <br><br>
                <br><br>
                <input type=submit value=Submit>
            </div>
        </fieldset>
    </form>
</body>

</html>